body{
    background: #86ecff;
}

ul li{
    display: none;
}

#rightStudentsList{
    float: right;
    list-style-type: none;
}
.open li{
    display: block;
}
#studentsImage{
    width: 500px;
    height: 300px;
    background-color: #41aff9;
}