body{
    background: #2a2730;
    color: #86ecff;
    font-family: 'Indie Flower', cursive;
    margin: 15px;
}
ul{
    padding: 0;
}
ul li{
    display: none;
    margin: 0;
    padding: 0;
}
#rightStudentsList{
    float: right;
    list-style-type: none;
}
.open li{
    display: block;
}
#studentsData{
    width: 600px;
    height: auto;
    color: antiquewhite;
    font-size: 1.5rem;
}
#studentsData:last-child{
    margin-bottom: 30px;
}